@inherits LayoutComponentBase
@inject HttpClient Http

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
  <MudAppBar>
    <MudText>Local Smtp</MudText>
    <div class="application-version">
      <MudText Typo="Typo.caption">@Info?.InfoVersion</MudText>
    </div>
    <MudSpacer />
    <div class="smtp-port-info">
      <MudText Typo="Typo.caption">SMTP server listening on port @Server?.PortNumber</MudText>
    </div>
    <MudButton StartIcon="@Icons.Material.Filled.Settings" Style="color: white;">
      Settings
    </MudButton>
  </MudAppBar>
  <MudMainContent>
    @Body
  </MudMainContent>
</MudLayout>

@code {

  private Server? Server = default!;
  private Info? Info = default!;

  protected override async Task OnInitializedAsync()
  {
    Server = await Http.GetFromJsonAsync<Server>("/api/Server");
    Info = await Http.GetFromJsonAsync<Info>("/api/Info");
  }

}
