@inject HttpClient httpClient

<div style="height: calc(100vh - @(DecreaseHeight)px);">
    <iframe srcdoc="@HtmlMessage"></iframe>
</div>

@code {
  [Parameter]
  public string? HtmlMessage { get; set; }
  
  [Parameter]
  public int DecreaseHeight { get; set; }
}
