@inject HttpClient httpClient

<div class="raw-message-wrap" style="height: calc(100vh - @(DecreaseHeight)px);">
  <pre>
    @RawMessage
  </pre>
</div>

@code {
  [Parameter]
  public string RawMessage { get; set; }

  [Parameter]
  public int DecreaseHeight { get; set; }
}
