@inject HttpClient httpClient

<div class="html-view">
    <iframe srcdoc="@HtmlMessage"></iframe>
</div>

@code {
  [Parameter]
  public string? HtmlMessage { get; set; }
}

<style>
  .html-view {
      height: calc(100vh - 385px);
  }
</style>