
@if (Message?.Headers != null)
{
  <div class="fit-headers-to-panel">
    <MudTable Items="@Message.Headers" Hover="true" SortLabel="Sort By">
        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Header, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Header, object>(x=>x.Value)">Value</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Value">@context.Value</MudTd>
        </RowTemplate>
    </MudTable>
  </div>
}

@code {
  [Parameter]
  public Message? Message { get; set; }
}
