
@if (Message?.Headers != null || Headers != null)
{
  <div style="height: calc(100vh - @(DecreaseHeight)px);">
    <MudTable Items="@(Message?.Headers ?? Headers)" Hover="true" SortLabel="Sort By">
        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Header, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Header, object>(x=>x.Value)">Value</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Value">@context.Value</MudTd>
        </RowTemplate>
    </MudTable>
  </div>
}

@code {
  [Parameter]
  public Message? Message { get; set; }

  [Parameter]
  public List<Header>? Headers { get; set; }

  [Parameter]
  public int DecreaseHeight { get; set; }
}
